* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font: 15px Helvetica, Arial;
  padding: 0;
  margin: 0;
}

.container {
  width: 780px;
  height: 100%;
  margin: 20px auto;
}
#title {
  margin: 0;
  padding-bottom: 5px;
}

#chat-box,
#users-box {
  float: left;
}

#chat-box {
  width: 550px;
}
form {
  background: #000;
  padding: 3px;
  bottom: 0;
  width: 100%;
}
  form input {
    border: 0;
    padding: 10px;
    width: 100%;
    margin-right: .5%;
  }
  form button {
    width: 20%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }
#messages {
  overflow-y: scroll;
  height: 250px;
  list-style-type:
  none; margin: 0;
  padding: 0;
}
  #messages li {
    padding: 5px 10px;
  }
  #messages li.server {
    color: #4F8E50;
    background: #CBEEB8;
  }
  #messages li.notice {
    color: #9C9C9C;
  }
  #messages li.user span.name {
    color: #73434F;
    display: inline-block;
    padding: 2px 5px;
  }
  #messages li.user span.message {
    color: #444;
  }
  #messages img.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
    vertical-align: -0.1em;
  }

#users-box {
  width: 200px;
  height: 335px;
  overflow-y: scroll;
}
  #users-box h3 {
    border-bottom: 1px dashed #000;
    margin: 0 10px;
    padding: 5px;
  }
  #users-list {
    margin: 0 10px;
    padding: 5px;
  }
    #users-list p {
      display: block;
      padding: 2px 0;
    }
